<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SapientPro\Core\Api\Report\Data\SalesReportInterface"
                type="SapientPro\Core\Model\Report\SalesReport"/>
    <preference for="SapientPro\Core\Api\Report\SalesReportProviderInterface"
                type="SapientPro\Core\Service\Report\SalesReportProvider"/>
    <preference for="SapientPro\Core\Api\Report\FundsInflowReportGeneratorsInterface"
                type="SapientPro\Core\Service\Report\FundsInflowReportGenerators"/>
    <preference for="SapientPro\Core\Api\Pdf\PdfImagesServiceInterface"
                type="SapientPro\Core\Service\Pdf\PdfImagesService"/>
    <type name="SapientPro\Core\Api\Report\FundsInflowReportGeneratorsInterface">
        <arguments>
            <argument name="collectionFactory" xsi:type="object">Magento\Framework\Data\CollectionFactory</argument>
            <argument name="modelFactory" xsi:type="object">Magento\Framework\Data\Collection\ModelFactory</argument>
            <argument name="providers" xsi:type="array">
                <item name="paymentInvoiceReportProvider" xsi:type="object">SapientPro\Core\Service\Report\ReportProvider\PaymentInvoiceReportProvider</item>
                <item name="paymentRefundProvider" xsi:type="object">SapientPro\Core\Service\Report\ReportProvider\PaymentRefundProvider</item>
            </argument>
        </arguments>
    </type>
</config>
