<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="SapientPro\Core\Api\Report\Data\SalesReportInterface"
                type="SapientPro\Core\Model\Report\SalesReport"/>
    <preference for="SapientPro\Core\Api\Report\SalesReportGeneratorInterface"
                type="SapientPro\Core\Service\Report\SalesReportGenerator"/>
</config>
