<?xml version="1.0"?>
<!--
/**
 * SapientPro
 *
 * @category    SapientPro
 * @package     SapientPro_Core
 * @author      SapientPro Team <info@sapient.pro >
 * @copyright   Copyright © 2009-2019 SapientPro (https://sapient.pro)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sapient_pro_extension_tab" translate="label" sortOrder="3000"  class="sapientpro-extensions">
            <label>SapientPro</label>
        </tab>
    </system>
</config>
